$black: #000000;
$dark-grey: #3C3C3B;
$mid-grey: #747474;
$light-grey: #E6E6E6;
$pink: #C9187E;
$dark-pink: #B31570;
$white: #FFFFFF;
$purple: rgb(80, 7, 120);

$text-color: $dark-grey;
$secondary-text-color: $mid-grey;
$link-color: $purple;
$button-color: $purple;
$border-color: $mid-grey;
$panel-color: $light-grey;
$brand-color: $pink;
$focus-color: $dark-pink;
$error-color: $pink;

html {
  background-color: $dark-grey;
}

body {
  background-color: $white;
  color: $text-color;
}

body > header {
  background-image: linear-gradient(135deg, rgb(125, 19, 142) 0px, rgb(232, 119, 34) 100%);
  color: $white;
}

body > footer {
  background-image: linear-gradient(170deg,#500778 0,#b0008e 100%);
  color: $white;
}

a {
  color: $purple;
}

a:focus {
  background-color: $pink;
  color: $white;
  text-decoration: none;
}
